body{
    background-color: beige;
}
.Titulo{
    color: palevioletred;
    font-family: "Besley", serif;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Final{
    color: rgb(205, 69, 114);
    font-family: "Besley", serif;
}

a{
    color: rgb(205, 69, 114);
}
